[submodule "submodules/hasm"]
	path = submodules/hasm
	 url = https://github.com/HibiyaHaraki/hasm.git
[submodule "submodules/hasm_markdown"]
	path = submodules/hasm_markdown
	 url = https://github.com/HibiyaHaraki/hasm_markdown.git
[submodule "submodules/hasm_logo"]
	path = submodules/hasm_logo
	 url = https://github.com/HibiyaHaraki/hasm_logo.git
[submodule "src/hasm_logger"]
	path = src/hasm_logger
	 url = https://github.com/HibiyaHaraki/hasm_logger.git
[submodule "src/hasm_color_pattern"]
	path = src/hasm_color_pattern
	 url = https://github.com/HibiyaHaraki/hasm_color_pattern.git
[submodule "src/hasm_visualizer"]
	path = src/hasm_visualizer
	url = git@github.com:HibiyaHaraki/hasm_visualizer.git
