* {
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--theme-text, #292723);
  background: var(--theme-textbackground, #ebe6dc);
}

#root {
  display: flex;
  flex-direction: column;
}
